			body{
				background: #b8e1fc; /* Old browsers */
				background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #6ba8e5 45%, #6ba8e5 56%, #90bff0 72%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#6ba8e5 45%,#6ba8e5 56%,#90bff0 72%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#6ba8e5 45%,#6ba8e5 56%,#90bff0 72%,#a2daf5 83%,#bdf3fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
			}

			img{
				position: absolute;
			}

			img#ball1{
				width: 150px;
				height: 150px;
				left: 0;
				top: 0;
			}

			img#ball2{
				width: 100px;
				height: 100px;
				right: 0;

			}

			img#ball3{
				width: 120px;
				height: 120px;
				right: 0;
				bottom: 0;
			}

			img#ball4{
				width: 100px;
				height: 100px;
				left: 50%;
				top: 0;
			}

			img#ball5{
				width: 100px;
				height: 100px;
				bottom: 200px;
				right: 0px;
			}

			img#ball6{
				width: 200px;
				height: 200px;
				bottom: 200px;
				left: 200px;
			}

			img#ball7{
				width: 100px;
				height: 100px;
				left: 50%;
				bottom: 0;
			}

			img#ball8{
				width: 100px;
				height: 100px;
				left: 0;

			}